<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/forgetpassword.css">
    <title>Bootstrap Grid</title>
    <title>Bootstrap Grid</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
 <section class="container">
  <form action="#" class="form">
    <p class="title">forget password </p>
    <p class="u_title">enter the email address you used to sign up to reset password.</p>
    <div class="form-group ">
        <label class="control-label " for="email">
         Email address
        </label>
        <div class="input-group">
         <div class="input-group-addon">
          <span class="glyphicon glyphicon-envelope"></span> 
         </div>
         <input class="form-control" id="email" name="email" type="text"  placeholder="Name@email.com" required/>
        </div>
       </div>
        <button class="signin">send</button>
       
  </form>
 </section>
</body>