<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/welcome page.css">
</head>
<body>
    <header>
        <h1 class="logo">welcome to </h1>
        <h2 class="logo2" >Brain Tumor Detection Web Site.</h2>
        <div class="image">
          <img  src="img/pngwing 1.png" >
          <p class="top">BTD</p>
        </div>
        
    </header>   
    <div class="sign">
        <div>

          <button class="signin" onclick="window.location.href='http://localhost:5000/sign_up' ;" >Sign up</button>
          <p class="down">Already have an account ?</p>
          <button class="signup" onclick="window.location.href='http://localhost:5000/sign_in';">Sign in</button>
        </div>
      </div>
</body>
</html>